* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Work Sans", sans-serif;
    background-color: #ffffff;
  }
  .flexproduct {display: flex;
   flex-wrap: wrap;
   }
    .flexproduct .producti img {
       margin-bottom: 20px;
       width: 200px;
       height: 200px;
    }
.container{
    padding-left: 15px; ;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
   margin: auto;
}

.head{overflow: hidden;
margin-left: 15px;
margin-right: 15px;
margin-right: auto;
margin-left: auto;
margin: auto;
}
.header{width: 100vw;
height: 200px;
background-color: #D8D8D8;
}
.header .title{
    text-align: center;
    padding-top: 60px;
}
.header .title h1{
   font-size: 3.1em;
   font-weight: lighter;
}
.header .title h6{
    font-size: 1.0em; margin-top: 10px;
    font-weight: lighter;
 }
 .Section1{width: 60%; height: 1200px; margin-left: 10%;margin-top: 80px;float: left;}
 .Section1 h2{font-size: 1.2em; color: gray;}
 .Section1 .Product1{
    width: 250px;height: 400px; margin-top: 15px; float: left; margin-right: 15px;
 }
 .Section1 .Product1 img{
    width: 250px;height: 350px;
 }
 .Section1 .Product1 .title h3{
    float: left;
 }
 .Section1 .Product1 .title h2{float: right; color: blue;}
 .Section1 .Product1 .title{line-height: 50px;}
 .Section1 .Product1 button{height: 40px; width: 200px; background-color: rgb(44, 41, 41);position: relative;top: -120px; left: 20px; color: white;
border: none; display: none;
}
.Section1 .Product1:hover button{
    display: block;
}.Section1 .Product1 button:hover{
    background-color: rgb(67, 67, 165);
}
.Section2{width: 30%; height: 900px;float: right;margin-top: 80px;}
.Section2 .search{width: 100%; height: 55px;}
.Section2 .search input{width: 60%; height: 45px;float: left; margin-left:10% ; margin-top: 10px;}
.Section2 .search button{width: 12%; height: 45px;margin-top: 10px; background-color: rgb(48, 44, 44); border: 0px;color: white;}
.Section2 .catigores{margin-top: 15px; margin-left: 15px;}
.Section2 .catigores lh a{text-decoration: underline; font-size: 1.3em; line-height: 50px;}
.Section2 .catigores li{
    margin-top: 10px;
}
.Section2 .catigores li:hover{
   color: rgb(75, 177, 177);
}
.Section2 .TAGS{margin-top: 15px; margin-left: 15px;}
.Section2 .TAGS lh a{text-decoration: underline; font-size: 1.3em; line-height: 50px;}
.Section2 .TAGS li{
    margin-top: 10px;
}
.Section2 .TAGS li:hover{
   color: rgb(75, 177, 177);
}
.Section2 .BRANDS{margin-top: 15px; margin-left: 15px;}
.Section2 .BRANDS lh a{text-decoration: underline; font-size: 1.3em; line-height: 50px;}
.Section2 .BRANDS li{
    margin-top: 10px;
}
.Section2 .BRANDS li:hover{
   color: rgb(75, 177, 177);
}
.Section2 .FILTER_BY_PRICE{margin-top: 15px; margin-left: 15px;}
.Section2 .FILTER_BY_PRICE lh a{text-decoration: underline; font-size: 1.3em; line-height: 50px;}
.Section2 .FILTER_BY_PRICE li{
    margin-top: 10px;
}
.Section2 .FILTER_BY_PRICE li:hover{
   color: rgb(75, 177, 177);
}
.form{
   width: 90%;
   height: 180px;
   margin-left: 5%; padding-top: 15px; padding-left: 15px; margin-bottom: 30px;
}
.form .container {
   background-color: #323030;
}
.form form {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 65px;
   padding-top: 35px;
   padding-bottom: 35px;
   margin-top: 55px;
}
.form form h1 , .form form p{
   color: white;
   padding: 15px;
}
.form form input {
   width: 300px;
   height: 40px;
   border-radius: 10px 0 0 10px;
}
.form form button {
   width: 100px;
   height: 38px;
   border-radius: 0 10px 10px 0;
   background-color: #72aec8;
   color: white;
   border: solid #72aec8 1px;
}
.section4{
   width: 90%;height: 400px; margin-left: 5%; padding-top: 60px;
}
.section4 h1{
   text-align: center;font-weight: lighter;font-size: 3.0em;
}
.section4 .sub1{ width: 220px; height: 250px;margin: 10px; float: left; margin-left: 20px;}
.section4 .sub1 img{width: 220px; height: 280px;}
.section4 .sub2{width: 220px; height: 280px; margin: 10px; float: left;}
.section4 .sub2 img{width: 220px; height: 280px;}
.section4 .sub3{width: 220px; height: 280px; margin: 10px; float: left;}
.section4 .sub3 img{width: 220px; height: 280px;}
.section4 .sub4{width: 220px; height: 280px; margin: 10px; float: left;}
.section4 .sub4 img{width: 220px; height: 280px;}
.section4 .sub5{width: 220px; height: 280px; margin: 10px; float: left;}
.section4 .sub5 img{width: 220px; height: 280px;}

